<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 345px; height: 630px; margin: 0 auto">
    <h2>LED ON / OFF</h2>
    <img src="../static/off.png" id="off" style="display: block">
    <img src="../static/on.png" id="on" style="display: none">
    <button id="on_button" style="padding: 10px; background-color: skyblue" >ON</button>
    <button id="off_button" style="padding: 10px; background-color: lightgray">OFF</button>
</div>

<script src="../static/index.js"></script>

</body>
</html>